body {
  background: url(./assets/images/home-bg.jpg) top/cover no-repeat;
}
@media only screen and (max-width: 769px) {
  header {
    background: transparent;
    border-bottom: 0;
  }
  .open .companyname a {
    color: #000;
  }
  .companyname a {
    color: #fff;
  }
  .navigation-toggle:before, .navigation-toggle:before:hover {
    box-shadow: 0 6px 0 #fff;
  }
}
main {
  text-align: center;
}
main section {
  display: inline-block;
  margin-top: 6vh;
  padding: 30px;
  background: rgba(0,0,0,.6);
}
h1, h2 {
  color: #fff;
  line-height: 1.15;
}
h1 {
  font-size: 14vmin;
}
h2 {
  font-size: 4.5vmin;
}
